<html>

<head>
    <title>csv to MongoDB</title>
</head>
<body>
    <h1>Upload Your File !</h1>
</body>

<form action="/importFile" enctype="multipart/form-data" method="post" >

    <input type="file" name="file" placeholder="Upload file">
    <input type="submit" value="Upload">

</form>



</html>